@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBM ARABIC/IBMPlexSansArabic-Light.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBM ARABIC/IBMPlexSansArabic-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBM ARABIC/IBMPlexSansArabic-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBM ARABIC/IBMPlexSansArabic-Bold.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBM ARABIC/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM';
  src: url("../fonts/IBM ARABIC/IBMPlexSansArabic-SemiBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-Light.ttf");
  font-weight: 300;
  font-style: 300;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-Regular.ttf");
  font-weight: 400;
  font-style: 400;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-Medium.ttf");
  font-weight: 500;
  font-style: 500;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-Bold.ttf");
  font-weight: 600;
  font-style: 600;
}

@font-face {
  font-family: 'ReadexPro';
  src: url("../fonts/ReadexPro/ReadexPro-SemiBold.ttf");
  font-weight: 700;
  font-style: 700;
}

.title-page h2 {
  font-family: "IBM";
}

.card-accordion .intro-p h5 {
  font-family: "IBM";
}

.card-accordion .intro-p p {
  font-family: "IBM";
}

.card-accordion .accordion-button::after {
  margin-left: inherit;
  margin-right: auto;
}

.card-accordion .content-list {
  padding: 0;
  margin-top: 2rem;
}

.card-accordion .content-list li {
  background: url(../images/ok-circle.svg) no-repeat right;
  padding-right: 36px;
}

.card-accordion .content-list li:last-child {
  margin-bottom: 0px;
}

.card-accordion .content-list-dots {
  padding: 0;
}

.card-accordion .content-list-dots li {
  background: url(../images/dots-list.svg) no-repeat right;
  padding-right: 36px;
}

.card-accordion .content-list-dots li:last-child {
  margin-bottom: 0px;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.table thead tr th {
  background-color: #F3F4F6;
  padding: 15px 16px;
  border-top: solid 1px #E5E7EB;
  font-size: .75rem;
  color: #384250;
}

.table thead tr th:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 0px;
  border-right: solid 1px #E5E7EB;
  border-left: solid 0px;
}

.table thead tr th:last-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-left: solid 1px #E5E7EB;
  border-right: solid 0px;
  text-align: end;
}

.table tbody tr {
  transition: background-color 0.2s;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #e3e6ea;
  overflow: hidden;
  width: 100%;
}

.table tbody tr:hover {
  background-color: white;
}

.table tbody tr td {
  padding: 16px;
  text-align: start;
  align-content: center;
  border-bottom: solid 1px #E5E7EB;
}

.table tbody tr td:first-child {
  border-right: solid 1px #E5E7EB;
  border-left: solid 0px;
}

.table tbody tr td:last-child {
  border-left: solid 1px #E5E7EB;
  border-right: solid 0px;
}

.table tbody tr td input[type="checkbox"] {
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  appearance: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
}

.table tbody tr td input[type="checkbox"]:checked {
  background-color: #19697C;
  border-color: #19697C;
  background-image: url("../images/ok.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.table tbody tr td .twoline {
  width: max-content;
}

.table tbody tr td .twoline p {
  font-size: 16px;
  font-weight: 500;
  color: #2D2B2B;
  margin: 0;
  width: max-content;
}

.table tbody tr td .twoline span {
  font-size: 14px;
  font-weight: 400;
  color: #7D8493;
}

.table tbody tr td .time {
  display: flex;
  gap: 8px;
}

.table tbody tr td .time span.dates-tag {
  background-color: #F9FAFB;
  border: solid 1px #E5E7EB;
  padding: 3px 8px;
  border-radius: 4px;
  color: #1F2A37;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse;
  width: max-content;
}

.table tbody tr td .time span.dates-tag i.clock {
  background-image: url(../images/clock.svg);
  height: 14px;
  width: 14px;
  display: block;
}

.table tbody tr td .text {
  width: max-content;
}

.table tbody tr td .text p {
  font-size: 16px;
  font-weight: 400;
  color: #161616;
}

.table tbody tr td .stauts p {
  padding: 4px 12px;
  border-radius: 50px;
  width: fit-content;
  margin: 0;
  width: max-content;
  font-size: 14px;
}

.table tbody tr td .stauts p.stauts-1 {
  background-color: #FFF7DE;
  color: #EE8D20;
}

.table tbody tr td .communication {
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.table tbody tr td .communication span.webex-tag {
  background-color: #e7f1ff;
  border: solid 1px #B2DDFF;
  padding: 3px 8px;
  border-radius: 4px;
  color: #1849A9;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse;
}

.table tbody tr td .communication span.webex-tag i.video-call {
  background-image: url(../images/vcall.svg);
  height: 14px;
  width: 14px;
  display: block;
}

.table tbody tr td .communication i.location {
  display: block;
  height: 16px;
  width: 16px;
  background-image: url(../images/location.svg);
}

.table tbody tr td .communication p {
  font-size: 16px;
  font-weight: 600;
  color: #6A7383;
  margin: 0;
}

.table tbody tr td .action-table {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.table tbody tr td .action-table .btn {
  font-size: 0.875rem;
  font-weight: 400;
  padding: .375rem 0.75rem;
  border-radius: 4px;
  width: max-content;
  box-shadow: none;
  border: solid 0px;
}

.table tbody tr td .action-table .btn.primary {
  background-color: #1B8354;
  color: #fff;
}

.table tbody tr td .action-table .btn.primary:hover {
  background-color: #166A45;
}

.table tbody tr td .action-table .btn.neutral {
  background-color: #0D121C;
  color: #fff;
}

.table tbody tr td .action-table .btn.neutral:hover {
  background-color: #1F2A37;
}

.table tbody tr td .action-table .btn.btn-sco {
  background-color: #CFD2D3;
  color: #2D2B2B;
}

.table tbody tr td .action-table .btn.btn-sco:hover {
  background-color: #dadada;
}

.table tbody tr td .action-table .btn.more {
  background-color: transparent;
  border: solid 1px #D2D6DB;
  padding: .375rem;
}

.table tbody tr td .action-table .btn.more img {
  height: 20px;
  width: 20px;
}

.table tbody tr td .action-table .btn.more svg {
  fill: #1D1B20;
}

.table tbody tr td .action-table .btn.more:hover {
  background-color: #f3f3f3;
  border-radius: 4px;
}

.table tbody tr:last-child td:first-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px;
}

.table tbody tr:last-child td:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
}

.table-2 {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.table-2 tbody tr {
  transition: background-color 0.2s;
  margin-bottom: 10px;
  display: table;
  background-color: #fff;
  border: 1px solid #e3e6ea;
  overflow: hidden;
  border-left: none;
  border-right: none;
  width: 100%;
}

.table-2 tbody tr:hover {
  background-color: white;
}

.table-2 tbody tr td {
  padding: 16px;
  text-align: start;
}

.table-2 tbody tr td input[type="checkbox"] {
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  appearance: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: flex;
}

.table-2 tbody tr td input[type="checkbox"]:checked {
  background-color: #19697C;
  border-color: #19697C;
  background-image: url("../images/ok.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.table-2 tbody tr td .facility {
  background-color: #E6E6E6;
  border-radius: 50px;
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-2 tbody tr td .facility i.icon-fac {
  background-image: url(../images/facility.svg);
  height: 20px;
  width: 20px;
  display: block;
}

.table-2 tbody tr td .twoline {
  width: max-content;
}

.table-2 tbody tr td .twoline p {
  font-size: 16px;
  font-weight: 600;
  color: #2D2B2B;
  margin: 0;
  width: max-content;
}

.table-2 tbody tr td .twoline span {
  font-size: 14px;
  font-weight: 400;
  color: #7D8493;
}

.table-2 tbody tr td .time p {
  padding: 4px 12px;
  background-color: #f3f3f3;
  border-radius: 8px;
  width: fit-content;
  color: #6A7383;
  margin: 0;
  width: max-content;
}

.table-2 tbody tr td .text {
  width: max-content;
}

.table-2 tbody tr td .text p {
  font-size: 16px;
  color: #6A7383;
}

.table-2 tbody tr td .stauts p {
  padding: 4px 12px;
  border-radius: 50px;
  width: fit-content;
  margin: 0;
  width: max-content;
  font-size: 14px;
}

.table-2 tbody tr td .stauts p.stauts-1 {
  background-color: #FFF7DE;
  color: #EE8D20;
}

.table-2 tbody tr td .stauts p.stauts-2 {
  background-color: #DFF0FC;
  color: #428EE3;
}

.table-2 tbody tr td .stauts p.stauts-3 {
  background-color: #E5F3E6;
  color: #3B9641;
}

.table-2 tbody tr td .stauts p.stauts-4 {
  background-color: #FDE2E1;
  color: #963E3B;
}

.table-2 tbody tr td .communication {
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.table-2 tbody tr td .communication i.location {
  display: block;
  height: 16px;
  width: 16px;
  background-image: url(../images/location.svg);
}

.table-2 tbody tr td .communication p {
  font-size: 16px;
  font-weight: 600;
  color: #6A7383;
  margin: 0;
}

.table-2 tbody tr td .action-table {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.table-2 tbody tr td .action-table .btn {
  font-size: 0.875rem;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  width: max-content;
}

.table-2 tbody tr td .action-table .btn.btn-info {
  background-color: #0095a0;
  color: #fff;
}

.table-2 tbody tr td .action-table .btn.btn-info:hover {
  background-color: #00666d;
}

.table-2 tbody tr td .action-table .btn.btn-info-dark {
  background-color: #00666d;
  color: #fff;
}

.table-2 tbody tr td .action-table .btn.btn-info-dark:hover {
  background-color: #00666d;
}

.table-2 tbody tr td .action-table .btn.btn-sco {
  background-color: #CFD2D3;
  color: #2D2B2B;
}

.table-2 tbody tr td .action-table .btn.btn-sco:hover {
  background-color: #dadada;
}

.table-2 tbody tr td .action-table .btn.bt-more {
  background-color: transparent;
  border: none;
  padding: 0;
}

.table-2 tbody tr td .action-table .btn.bt-more svg {
  fill: #7B8491;
}

.table-2 tbody tr td .action-table .btn.bt-more:hover {
  background-color: #f3f3f3;
  border-radius: 50%;
}

nav p {
  font-size: 12px;
  color: #404042;
}

nav .pagination .page-item .page-link {
  border: 0px solid;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  color: #161616;
}

nav .pagination .page-item .page-link:hover {
  border-color: #569A38;
  box-shadow: none !important;
  border-bottom: solid 4px #569A38;
  padding-bottom: 2px;
}

nav .pagination .page-item .page-link:focus {
  border: none;
  box-shadow: none;
}

nav .pagination .page-item .Next {
  padding: 4px;
}

nav .pagination .page-item .Next i.next-io {
  transform: scaleX(-1);
  display: block;
  background-image: url(../images/next.svg);
  height: 20px;
  width: 20px;
}

nav .pagination .page-item .Next:hover {
  border: none;
}

nav .pagination .page-item .Previous {
  padding: 4px;
}

nav .pagination .page-item .Previous i.previous-io {
  transform: scaleX(-1);
  display: block;
  background-image: url(../images/Previous.svg);
  height: 20px;
  width: 20px;
}

nav .pagination .page-item .Previous:hover {
  border: none;
}

nav .pagination .page-item.active .page-link {
  border-bottom: solid 4px #569A38;
  padding-bottom: 2px;
}

nav .pagination .more .page-link {
  border: solid 1px #161616 !important;
  border-radius: 4px;
}
